*~
.directory

.Trash-*
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
-.project
*.launch
.cproject
-.classpath

*.class

*.jar
*.war
*.ear.v

!robot/libs/*/*.jar

hs_err_pid*

.idea/
*.iml
*.ipr
*.iws

build/
!gradle-wrapper.jar

# JRebel
rebel.xml
rebel-remote.xml

# Someone uses a Mac...
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.AppleDouble
.LSOverride
.Trashes
ehthumbs.db
Thumbs.db

# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi
