// For more details, see https://github.com/Open-RIO/GradleRIO

plugins {
  id "java"
  id "jaci.openrio.gradle.GradleRIO" version "2018.01.22"
}

def TEAM = 0000 // Replace 0000 with your team number
def ROBOT_CLASS = "org.usfirst.frc.team0000.robot.Robot"

repositories {
  mavenCentral()
  maven { url 'https://jitpack.io' }
}

deploy {
  targets {
    target("roborio", jaci.openrio.gradle.frc.RoboRIO) {
      team = TEAM
    }
  }
  artifacts {
    artifact('frcJava', jaci.openrio.gradle.frc.FRCJavaArtifact) {
      targets << "roborio"
    }
  }
}

dependencies {
  compile wpilib()
  compile ctre()
  compile navx()
  compile 'com.github.juchong:ADIS16448-RoboRIO-Driver:master-SNAPSHOT'
}

jar {
  from configurations.compile.collect { it.isDirectory() ? it : zipTree(it) }
  manifest jaci.openrio.gradle.GradleRIOPlugin.javaManifest(ROBOT_CLASS)
}

task wrapper(type: Wrapper) {
  gradleVersion = '4.4'
}
